<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Institution</title>
    <link rel="stylesheet" th:href="@{/css/styles_admin.css}">
</head>
<body>

<div class="container">
    <h1>Add Institution</h1>

    <form th:action="@{/institutions/create}" th:object="${institution}" method="post">

        <label>User</label>
        <select name="selectedUserId" required>
            <option value="">Select user</option>
            <option th:each="u : ${users}"
                    th:value="${u.id}"
                    th:text="${u.email}">
            </option>
        </select>

        <label>Official Name</label>
        <input type="text" th:field="*{officialName}" required>

        <label>Fiscal Code</label>
        <input type="text" th:field="*{fiscalCode}" required>

        <label>Legal Address</label>
        <input type="text" th:field="*{legalAddress}" required>

        <label>Service Type</label>
        <select th:field="*{serviceType}" required>
            <option value="">Select service type</option>
            <option th:each="type : ${serviceTypes}"
                    th:value="${type}"
                    th:text="${type}">
            </option>
        </select>

        <button type="submit" class="btn btn-save">Save</button>
        <a th:href="@{/institutions}" class="btn btn-back">Back</a>
    </form>
</div>

</body>
</html>